{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<h1 class="mt-5">Hi, {{profile.user.username}}, you can edit your profile here.</h1>

<div class="mt-5">
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<div class="col-6">
				{{form.first_name|as_crispy_field}}
			</div>
			<div class="col-6">
				{{form.last_name|as_crispy_field}}
			</div>
		</div>
		{{form.description|as_crispy_field}}
		{{form.profile_picture|as_crispy_field}}
		<button type="submit" class="btn btn-primary">Submit changes</button>
	</form>
</div>

{% endblock %}